* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 100vh);
}

/********** NavBar **********/

.mobileNav {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
  color: orangered;
}

.navbar ul li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: orangered;
  visibility: none;
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

/********** Body **********/
section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
  width: 90%;
}

section#home {
  background: url('./assets/images/coding-on-laptop.jpg') no-repeat center
    center/ cover;
}

.socials {
  margin-top: 15px;
}

.socials a {
  text-decoration: inherit;
  color: inherit;
  margin-right: 10px;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.socials a:hover {
  color: orangered;
}

/********** Projects **********/

#projects h1 {
  margin-bottom: 5px;
}

.flip-card-front h2 {
  color: white;
}

.projectContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(2, 1fr);
  gap: 2rem;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front img {
  height: 200px;
  width: 300px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #333;
  color: black;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p {
  font-size: 1rem;
  width: 100%;
}

.projButtons {
  display: flex;
  justify-content: space-between;
}

.fullstackButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo,
.code {
  border: 1px solid orangered;
  background: orangered;
  border-radius: 15px;
  padding: 0 1rem;
  margin-left: 5px;
  margin-right: 5px;
}
.projButtons a {
  color: black;
  text-decoration: inherit;
}

/*********** Contact Form ***********/

#contact {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: url(./assets/images/contactBackground.jpg) no-repeat center center /
    cover;
}

.contactFilter {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.contactContainer {
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 50px 0;
}

#contact .contactContainer form input,
#contact .contactContainer form textarea {
  width: 97.4%;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  letter-spacing: 1px;
  background: #fff;
  border: 2px solid #fff;
  margin-bottom: 25px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#contact .contactContainer form input:focus,
#contact .contactContainer form textarea:focus {
  border: 2px solid #dd4545;
  color: #333;
}

#contact .contactContainer form textarea {
  height: 150px;
}

#contact .contactContainer form .submit {
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 1px;
  background: #dd4545;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border: 2px solid #b43838;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#contact .contactContainer form .submit:hover {
  color: #fff;
  border: 2px solid #dd4545;
  background: #b43838;
  cursor: pointer;
}

#contact .contactContainer form .required {
  color: #b43838;
}

.hiddenBotForm {
  display: none;
}

/********** Footer **********/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  text-align: center;
  height: 45px;
}

/********** Media Queries **********/

@media screen and (max-width: 1100px) {
  /* Body */
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto 100vh auto;
  }

  /* Projects */
  .projectContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    place-items: center;
  }

  #projects h1 {
    margin-top: 50px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 800px) {
  .projectContainer {
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(6, 1fr);
    row-gap: 4rem;
  }
}

@media screen and (max-width: 600px) {
  /* Body */
  body {
    width: 100vw !important;
  }

  h1 {
    font-size: 32px !important;
  }

  /* Navbar */
  .mobileNav {
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-weight: bold;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    margin: 5px;
  }

  .navbar {
    position: fixed;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
  }

  .navbar ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    background: black;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .navbar ul.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  /* Projects */
  #projects {
    margin-bottom: 100px;
  }
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }

  .flip-card-front img {
    height: 150px;
    width: 250px;
    margin-bottom: 1px;
  }

  .flip-card h2 {
    font-size: 18px;
  }

  .flip-card p {
    font-size: 12px;
    width: 90%;
  }

  .flip-card-front,
  .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .flip-card:active .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-inner:active .flip-card {
    transform: rotateY(180deg);
  }

  /* Contact Form */

  .contactContainer {
    width: 75%;
    height: auto;
    margin: 0 auto;
    padding: 50px 0;
  }

  #contact .contactContainer form .submit {
    width: auto;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;
    background: #dd4545;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    border: 2px solid #b43838;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
}
